.centered,
.row-wrap,
.row-nowrap,
.space-between,
.vertical-center,
.column,
.row {
  display: flex;
}
.centered {
  justify-content: center;
  align-items: center;
}
.row-wrap {
  flex-flow: row wrap;
}
.row-nowrap {
  flex-flow: row nowrap;
}
.column-reverse {
  flex-direction: column-reverse;
}
.space-between {
  justify-content: space-between;
}
.vertical-center {
  justify-content: center;
}
.row {
  flex-flow: row wrap;
}

@media only screen and (min-width: $desktop) {
  .row {
    flex-flow: row nowrap;
  }
}
