.medium-photo,
.small-photo,
.big-photo,
.round-photo {
  background-size: cover !important;
  background-position: 50% 50% !important;
}
.big-photo {
  height: 65vh;
}
.medium-photo,
.small-photo {
  height: 250px;
  width: 100%;
}
.round-photo {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-size: 50% 50%;
}

@media only screen and (min-width: $desktop) {
  .big-photo {
    height: 80vh;
    width: 100vw;
  }
  .medium-photo {
    height: 350px;
  }
  .small-photo {

  }
}
