@import './_variables.scss';

.horitzontal-list > * {
  margin-right: 20px;
}
.big-picture-content {
  width: 80%;
  color: white;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}
.content-wrapper {
  width: 100%;
  position: relative;
  justify-content: space-around;
}
.quote-separator {
  height: 4px;
  background-color: $accent-color;
  position: relative;
  width: 100%;
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
  &.big-image {

  }
}
.list > *:not(:last-child) {
  margin-bottom: 30px;
  text-align: center;
}

/* WIDTHS */
.one-third,
.two-thirds,
.two-by-two-max,
.two-by-two-min {
  width: 100%;
}


@media only screen and (min-width: $desktop) {
  .content-wrapper {
    padding: 0;
  }
  .one-third {
    width: 25%;
  }
  .two-thirds {
    width: 55%;
  }
  .two-by-two-max {
    width: 50%;
  }
  .two-by-two-min {
    width: 30%;
  }
  .quote-separator {
    &.big-image {
      margin-top: 25px;
    }
  }
}
