@import './_variables.scss';

.horitzontal-list > * {
  margin-right: 20px;
}
.big-picture-content {
  width: 80%;
  color: white;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  flex-flow: row wrap;
}
.content-wrapper {
  text-align: center;
  width: 100%;
  padding: 0 25px 0 25px;
  position: relative;
  justify-content: space-around;
  height: calc(100% + 10%);
}
.content-wrapper > *:not(:last-child) {
  margin-bottom: 40px;
}
.content-wrapper .column > *:not(:last-child) {
  margin-bottom: 40px;
}
.list > *:not(:last-child) {
  margin-bottom: 30px;
  text-align: center;
}
.quote-separator {
  height: 4px;
  background-color: $accent-color;
  position: relative;
  width: 100%;
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
  &.story-ii,
  &.stats,
  &.mission {
    width: 100%;
  }
}
.column {
  flex-direction: column;
  align-items: center;
}
.margin-mobile {
  margin-bottom: 40px;
}

/* WIDTHS */
.one-third,
.two-thirds,
.two-by-two-max,
.two-by-two-min,
.column.stats,
.header.mission,
.header.story-ii {
  width: 100%;
}


@media only screen and (min-width: $desktop) {
  .content-wrapper {
    padding: 0;
  }
  .content-wrapper > *:not(:last-child) {
    margin-bottom: 0;
  }
  .content-wrapper .column > *:not(:last-child) {
    margin-bottom: 0;
  }
  .big-picture-content {
    flex-flow: row nowrap;
  }
  .column {
    align-items: stretch;
  }
  .one-third {
    width: 25%;
  }
  .two-thirds {
    width: 55%;
  }
  .two-by-two-max {
    width: 50%;
  }
  .two-by-two-min {
    width: 30%;
  }
  .quote-separator {
    &.big-image {
      margin-top: 25px;
    }
  }
  .margin-mobile {
    margin-bottom: 0;
  }

  /* WIDTHS */
  .column.stats,
  .header.mission {
    width: 35%;
  }
  .header.story-ii {
    width: 65%;
  }
  .quote-separator {
    &.story-ii {
      width: 35%;
    }
    &.stats {
      width: 60%;
    }
    &.mission {
      width: 55%;
    }
  }
}
