@import './_variables.scss';

/* FLEX BOX */
.content-wrapper {
  display: flex;
}
.horitzontal-list > *:not(:last-child) {
  margin-right: 20px;
}

/* WIDTH */
.big-picture-content {
  width: 80%;
  color: white;
}

/* POSITIONING */
.absolute {
  position: absolute;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

/* ALL */
.content-wrapper {
  width: 100%;
  flex-flow: row wrap;
  padding-left: $mobile-layout-padding;
  padding-right: $mobile-layout-padding;
  position: relative;
}

@media only screen and (min-width: $desktop) {
  .column {

  }
  .content-wrapper {
    padding: 0;
    width: 80%;
  }
}
