@import './_variables.scss';

.splash-page {
  color: white;
}
.splash-page,
.splash-content-wrapper,
.splash-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash-page {
  background: url('../images/splash.png');
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width: 100%;
}
.splash-content-wrapper {
  height: 75%;
  width: 80%;
  position: relative;
}
.maxisms-logo,
.premier-info,
.learn-more,
.watch-trailer {
  position: absolute;
}
.maxisms-logo,
.premier-info {
  top: 0;
}
.maxisms-logo,
.learn-more {
  left: 0;
}
.premier-info,
.watch-trailer {
  right: 0;
}
.learn-more,
.watch-trailer {
  bottom: 0;
}
.splash-header {
  flex-direction: column;
}
.watch-trailer {
  border: 1px solid;
  border-radius: 50px;
  padding: 20px;
  cursor: pointer;
  color: white;
}
.movie-title {
  font-size: $big-title;
  letter-spacing: 40px;
  font-weight: 100;
}
.caption {

}
.maxisms-logo img {
  width: 150px;
  height: auto;
}
