.splash-page {
  background: url('../images/splash.png');
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash-content-wrapper {

}
.maxisms-logo {

}
.premier-info {

}
.movie-title {

}
.caption {

}
.learn-more {

}
.watch-trailer {

}
