@import './_variables.scss';

.splash-page {
  color: white;
}
.splash-page,
.splash-content-wrapper,
.splash-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash-page {
  background: url('../images/splash.png');
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width: 100%;
}
.splash-header,
.splash-content-wrapper {
  flex-direction: column;
}
.splash-content-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
}
.splash-content-wrapper > *:not(:last-child) {
  margin-bottom: $vertical-spacing;
}
.maxisms-logo {
  position: absolute;
  top: $vertical-spacing;
}
.premier-info,
.learn-more,
.watch-trailer {
  position: relative;
}

.premier-info,
.watch-trailer {
  right: 0;
}
.learn-more,
.watch-trailer {
  bottom: 0;
}
.watch-trailer {
  border: 1px solid;
  border-radius: 50px;
  padding: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 24px;
}
.movie-title {
  font-size: 20vw;
  margin-bottom: 20px;
}
.caption {
  font-size: $font-size-m2;
}
.maxisms-logo img {
  width: 150px;
  height: auto;
}
.premier-info {
  font-size: $font-size-m2;
}
.learn-more .xxl-font {
  flex-direction: row;
  font-size: $font-size-xxl;
}


@media only screen and (min-width: $desktop) {
  .splash-content-wrapper {
    height: 75%;
    width: 66%;
    position: relative;
    flex-direction: row;
  }
  .splash-content-wrapper > *:not(:last-child) {
    margin-bottom: 0;
  }
  .maxisms-logo,
  .premier-info,
  .learn-more,
  .watch-trailer {
    position: absolute;
  }
  .maxisms-logo,
  .premier-info {
    top: 0;
  }
  .movie-title {
    font-size: $big-title;
    letter-spacing: 40px;
  }
  .caption {
    font-size: $font-size-xl;
  }
  .maxisms-logo,
  .learn-more {
    left: 0;
  }
  .learn-more .xxl-font {
    flex-direction: column;
  }
}
