@import './_variables.scss';

.header,
.paragraph {
  text-align: center;
}
.header {
  font-size: 24px;
}
.paragraph,
.small-title {
  font-size: $font-size-m;
}
.sea-green {
  color: $accent-color;
}

@media only screen and (min-width: $desktop) {
  .header,
  .paragraph {
    text-align: left;
  }
  .header {
    font-size: $font-size-xxl;
  }
  .paragraph {
    font-size: $font-size-xl;
  }
}
