/* BREAKPOINTS */

$desktop: 1000px;

/* COLORS */

$black: black;
$accent-color: #50E3C2;

/* MARGINS */

$vertical-spacing: 30px;

/* PADDING */

$mobile-layout-padding: 30px;

/* FONT SIZES */

$big-title: 200px;

$font-size-xxl: 36px;

$font-size-xl: 20px;

$font-size-l: 18px;

$font-size-m2: 16px;

$font-size-m: 14px;

$font-size-s: 12px;

$font-size-xs: 10px;
