/* BREAKPOINTS */

$desktop: 1000px;

/* COLORS */

$black: black;

/* FONT SIZES */

$big-title: 200px;

$font-size-xxl: 36px;

$font-size-xl: 20px;

$font-size-l: 18px;

$font-size-m2: 16px;

$font-size-m: 14px;

$font-size-s: 12px;

$font-size-xs: 10px;
