---
---
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:300');

@import '../_sass/_variables.scss';
@import '../_sass/_splash-page.scss';

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: black;
}
