---
---
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:200');

@import '../_sass/_variables.scss';
@import '../_sass/_splash-page.scss';
@import '../_sass/_layout.scss';
@import '../_sass/_images.scss';
@import '../_sass/_flex-box.scss';

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
}

body > *:not(:last-child) {
  margin-bottom: 150px;
}

.playfair-display {
  font-family: 'Playfair Display'
}
.sea-green {
  color: $accent-color;
}

.header,
.paragraph {
  text-align: center;
}
.header {
  font-size: 24px;
}
.paragraph,
.small-title {
  font-size: $font-size-m;
}

@media only screen and (min-width: $desktop) {
  .header,
  .paragraph {
    text-align: left;
  }
  .header {
    font-size: $font-size-xxl;
  }
  .paragraph {
    font-size: $font-size-xl;
  }
}
