<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HOOKED</title>
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu...">

    <link rel="stylesheet" href="/assets/main.css">
    <link rel="canonical" href="http://localhost:4000/">
    <link rel="alternate" type="application/rss+xml" title="Your awesome title" href="/feed.xml">

    <style>
      @import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
    </style>
  </head>

  <body>

    <section class="splash-page">
      <div class="splash-content-wrapper">
        <a href="#" class="maxisms-logo">
          <img src="./images/maxisms-logo.png" alt="">
        </a>
        <div class="premier-info">
          Premiering at NYC Pride in </br>
          association with NewsFest
        </div>
        <div class="splash-header">
          <img src="./images/movie-title.svg" class="movie-title">
          <div class="caption">
            A feature film created to support homeless LGBT youth charities
          </div>
        </div>
        <div class="learn-more">
          <div class="text">
            Learn </br> More
          </div>
          <div class="arrow"></div>
        </div>
        <a href="https://www.youtube.com/watch?v=mfLodk5fH7w" class="watch-trailer">
          WATCH TRAILER
        </a>
      </div>
    </section>

    <section class="content-wrapper absolute left">
      <div class="column">
        <div class="quote-separator"></div>
        <div class="medium-photo"
          style="background:url('../images/meet_max.png'); background-size:cover;">
        </div>
      </div>
      <div class="column">
        <div class="header playfair-display">
          Jack is a homeless eighteen-year-old prostitute
        </div>
        </br>
        <div class="paragraph">
          with a smart mouth and impulsive tendencies. He battles through a violent world of reckless “johns” between New York City and Miami, desperately seeking the means to a better life for him and his boyfriend Tom.
        </div>
        <div class="quote-separator"></div>
      </div>
    </section>

    <div class="big-photo"
      style="background:url('../images/story_ii.png'); background-size:cover;">
      <div class="big-picture-content centered">
        <div class="quote-separator"></div>
        <div class="header playfair-display">
          We meet Jack in New York, turning tricks on the evening before his eighteenth birthday.
        </div>
      </div>
    </div>

    <section class="content-wrapper">
      <div class="column">
        <div class="header playfair-display">
          He spends most of his time in a world of often abusive, but affluent, eccentrics.
        </div>
        <div class="paragraph">
          His only ally is his boyfriend Tom. They live together in a shelter, but their safety there is compromised by the threat of Tom’s father finding them. Jack sees an opportunity to make a better life for himself and Tom by taking a trip to Miami with a “john” named Ken.
        </div>
        <div class="small-photo"
          style="background:url('../images/story_iii.png'); background-size:cover;">
        </div>
      </div>
      <div class="column">
        <div class="small-photo"
          style="background:url('../images/storyIII.png'); background-size:cover;">
        </div>
        <div class="paragraph">
          At first, Ken appears more honest and caring than the usual john, even winning Jack’s trust...until Jack finds him on a Skype call with his never-mentioned wife. His faith in humanity smashed yet-again, Jack steals Ken’s drugs and handgun. He eventually embarks on a drug- binge and encounters the slimiest characters Miami has to offer, falling deeper into the hole than he started. Will he ever find his way out?
        </div>
      </div>
    </section>

    <section class="content-wrapper absolute right">
      <div class="column">
        <div class="header playfair-display">
          “It’s apparent that LGBTQ kids need a place they can go to be safe
        </div>
        </br>
        <div class="paragraph">
          to find guidance from people who actually identify with the things they are going through. It’s not special treatment, it’s a necessity.”
        </div>
        <div class="horizontal-list row-nowrap centered">
          <div class="round-photo"
            style="background:url('../images/max-emerson.jpg'); background-size:cover;">
          </div>
          <div class="column">
            <div class="small-title">
              Max Emerson
            </div>
            <div class="small-title sea-green">
              Writer and Director of HOOKED
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="column">
        <div class="quote-separator"></div>
        <div class="medium-photo"
          style="background:url('../images/why_hooked.png'); background-size:cover;">
        </div>
      </div>
    </section>

    <div class="big-photo"
      style="background:url('../images/why_hooked_iii.png'); background-size:cover;">
      <div class="big-picture-content centered">
        <div class="quote-separator"></div>
        <div class="column">
          <div class="header playfair-display">
            We meet Jack in New York, turning tricks on the evening before his eighteenth birthday.
          </div>
          <div class="paragraph">
            LGBTQ youth make up 5% of all youth and 40% of all homeless youth.
          </div>
          <div class="small-title playfair-display">
            —National Coalition for the Homeless
          </div>
        </div>

      </div>
    </div>

  </body>

</html>
